<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffbf00"> 
    <meta name="description" content="Electrify & Boost Up Your Discord Server!">
    <meta name="author" content="ADIB HOQUE">
    <meta name="distribution" content="global"/>
    <meta name="rating" content="safe for kids"/> 
    <link rel="icon" href="https://cdn.discordapp.com/attachments/656517276832366595/656519678499487745/ELECTRO.png" type="image/png">
    <meta property="og:site_name" value="ELECTRO"/>
    <meta property="og:url" content="http://electro-bot.glitch.me"/>
    <meta property="og:type" content="website"/>
    <meta name="keywords" content="ELECTRO, Electro, Discord, Bot, top.gg, dbl, discord bot, dyno, mee6, glitch, github, adib hoque"/> 
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/656517276832366595/656519678499487745/ELECTRO.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" /> 

    <title>ELECTRO</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">ELECTRO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Connect With Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://discordapp.com/oauth2/authorize?client_id=629323586930212884&permissions=2146827775&redirect_uri=https%3A%2F%2Fdiscord.gg%2FkuWVFpR&response_type=code&scope=guilds.join%20bot">Add Bot</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://discord.gg/kuWVFpR">Join Server</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Electrify & Boost Up Your Discord Server</h1>
                <hr>
                <p>ELECTRO is a Multi-Purpose Discord Bot Ready To Electrify & Boost Up Your Server. Features Moderation, Administration, Image Manipulation, Roleplay, Welcomer, Music, NSFW & Much More!</p>
                <a href="https://discordapp.com/oauth2/authorize?client_id=629323586930212884&permissions=2146827775&redirect_uri=https%3A%2F%2Fdiscord.gg%2FkuWVFpR&response_type=code&scope=guilds.join%20bot" class="btn btn-primary btn-xl page-scroll">Add To Server</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Electro has everything & capable of replacing several bots of your server! We even intent to help people with developing their bots of discord.js & discord.py library! So What are you waiting for?</p>
                    <a href="https://discord.gg/kuWVFpR" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-leaf text-primary sr-icons"></i>
                        <h3>EASY TO USE</h3>
                        <p class="text-muted">There are no complication in our commands they are very easy to use even for the beginners!</p>
                    </div>
                </div> 
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>24/7 ONLINE</h3>
                        <p class="text-muted">Our bot is always online at your service!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gear text-primary sr-icons"></i>
                        <h3>MODERATION</h3>
                        <p class="text-muted">We have all the moderation features to make the moderators life a bit easier!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-film text-primary sr-icons"></i>
                        <h3>ENTERTAINMENT</h3>
                        <p class="text-muted">We have all the arrangements for your entertainment starting from image manipulation, roleplay to NSFW content!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-music text-primary sr-icons"></i>
                        <h3>MUSIC</h3>
                        <p class="text-muted">High quality music directly played from YouTube to your server VC with an adjustable volume & song queue!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Join Our Support Server If You Want To Test Our Bot Or Have Any Questions About The Bot</h2>
                <a href="https://discord.gg/kuWVFpR" class="btn btn-default btn-xl sr-button">Join Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Need help? Join our Discord Server or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-bolt fa-3x sr-contact"></i>
                  <p><a href="https://discord.gg/kuWVFpR">discord.gg/electro</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:electrobot6969@gmail.com">electrobot6969@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/scroll-reveal.js"></script>
    <script src="/magnific-popup.js"></script>

    <!-- Theme JavaScript -->
    <script src="/client.js"></script>
    <script src="/wow.min.js"></script>
    
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/fcb170d64e.js"></script>

</body>

</html>
